{% extends 'html/base.html' %}
{% block content %}
<div class="col-sm-9">
  <h4><small>PRIVATE NOTES</small></h4>
    {% if not user.is_authenticated %}
      <p>You are not allowed to view private content!</p>
      <a href="{% url 'login' %}">Log In</a>
    {% else %}
      Hi <strong>{{ user.username }}</strong>!
      <br>
      <a href="{% url 'logout' %}">Log Out</a>
    {% endif %}
  {% for pr_note in private_notes_list %}
    {% if pr_note.author == request.user %}
      <hr>
      <h2>{{ pr_note.title }}</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by {{ pr_note.author }}, {{ pr_note.created_on }}.</h5>
      <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
      <p>{{ pr_note.content|truncatechars:50 }}</p>
      <a href="{% url 'pr_note_detail' pr_note.slug  %}" class="btn btn-primary">Read More &rarr;</a>
      <br><br>
    {% endif %}
  {% endfor %}
</div>
{% endblock content %}